{{ $news := first 6 (where .Site.RegularPages "Section" "news").ByDate.Reverse }}

{{ if gt (len $news) 0 }}
<div class="bg-slate-200 py-6 md:py-10">
  <div class="container mx-auto max-w-7xl">
    <div class="grid grid-cols-1 gap-3">
      <div class="bg-white rounded-xl ring-1 ring-black/5 p-5 mx-2">
        <div class="flex items-center justify-between mb-4">
          <div class="flex items-center gap-2">
            <div class="text-lg font-600">
              {{ i18n "news" }}
            </div>
          </div>
          <a href="{{ "news/" | relLangURL }}"
          class="text-sm text-black/60 hover:text-black/80">
          {{ i18n "more" }} →
        </a>
        </div>

        <div class="divide-y divide-black/5">
          {{ range $news }}
          <a href="{{ .RelPermalink }}" class="flex gap-4 py-3 group">
            <div class="w-14 text-center shrink-0">
              <div class="text-2xl font-700 leading-6">{{ .Date.Format "02" }}</div>
              <div class="text-xs text-black/50 mt-1">{{ .Date.Format "2006-01" }}</div>
            </div>

            <div class="min-w-0">
              <div class="text-lg md:text-xl leading-7 text-black/80 group-hover:text-black line-clamp-2">
                {{ .Title }}
              </div>
              {{ with .Params.summary }}
              <div class="text-xs text-black/50 mt-1 line-clamp-1">{{ . }}</div>
              {{ end }}
            </div>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
