{{ define "main" }}
  {{ $fundings := .Site.Data.research.fundings }}
  {{ $items := .Site.Data.research.projects }}


  <section class="container mx-auto px-4 py-10">
    <!-- Fundings -->
    <h2 class="section-title py-12">Funded Projects</h2>

    <div class="data-table-wrap">
      <table class="data-table" style="font-size:18px; line-height:1.65;">
        <colgroup>
          <col style="width:56px">
          <col style="width:280px">
          <col style="width:120px">
          <col style="width:120px">
          <col style="width:140px">
        </colgroup>

        <thead>
          <tr>
            <th>No.</th>
            <th>Project Title</th>
            <th>Funding Source</th>
            <th>Funding Amount</th>
            <th>Project Duration</th>
          </tr>
        </thead>

        <tbody>
          {{ range $i, $f := $fundings }}
            <tr>
              <td>{{ add $i 1 }}</td>
              <td>{{ $f.title }}</td>
              <td>{{ $f.sponsor }}</td>
              <td>{{ $f.amount | default "-" }}</td>
              <td>{{ $f.duration }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>

    <!-- Self-developed -->
    <h2 class="page-title text-3xl py-12">In-House Projects</h2>

    <div class="data-table-wrap text-[#1E2939]">
      <table class="data-table" style="font-size:18px; line-height:1.65;">
        <colgroup>
          <col style="width:56px">
          <col style="width:280px">
          <col style="width:240px">
          <col style="width:140px">

        </colgroup>
        <thead>
          <tr>
            <th>No.</th>
            <th>Project Title</th>
            <th>Members</th>
            <th>Project Duration</th>
          </tr>
        </thead>

        <tbody>
          {{ range $i, $p := $items }}
            <tr>
              <td>{{ add $i 1 }}</td>
              <td>{{ $p.name }}</td>
              <td>{{ $p.members }}</td>
              <td>{{ $p.period }}</td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>
{{ end }}
